$red: #d32300;
$mask: rgba(255,255,255, 0.5);
$charcoal: #212027;
$gray: #a0a0a0;
$dark-gray: #545454;
$black: #212529;

@import '../components/bgSection.scss';
@import '../components/footer.scss';
@import '../components/form.scss';
@import '../components/hero.scss';
@import '../components/nav.scss';
@import '../components/news.scss';
@import '../components/plan.scss';

body {
  font-family: Roboto;
  header {
    display: flex !important;
    justify-content: center;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 0;
    display: inline-block;
    border-top: 1px solid $charcoal;
    border-bottom: 1px solid $charcoal;
    text-align: center;
    color: $dark-gray;
  }

  h2 {
    color: $red;
    margin-bottom: 25px;
    &.focus {
      text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
      text-align: center;
      letter-spacing: 5px;
      margin-bottom: 50px;
    }
  }

  h3 {
    font-weight: 500;
  }
}

.container {
  padding: 50px;
}

.pdf-link {
  color: $black;
  text-decoration: underline;
  &:hover {
    color: $red;
  }
}

@media screen and (max-width: 575px) {
  body {
    header {
      margin-bottom: 25px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      margin-bottom: 15px;
      &.focus {
        margin-bottom: 25px;
      }
    }
  }
  .container {
    padding: 50px 25px 30px;
  }
}
