.bg-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  &.bg-image1 {
    background-image: url("../assets/images/millbrae1.png");
    &.first-bg {
      height: 600px;
    }
  }
  &.bg-image2 {
    background-image: url("../assets/images/millbrae2.png");
  }
  &.bg-image3 {
    background-image: url("../assets/images/millbrae3.png");
  }
  &.bg-image4 {
    background-image: url("../assets/images/millbrae4.png");
  }
  &.bg-image5 {
    background-image: url("../assets/images/millbrae5.png");
  }
}

.bg-mask {
  height: inherit;
  width: inherit;
  background-color: $red-mask
}
