.bg-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  &.bg-image1 {
    background-image: url("../assets/images/renderings/millbrae1.webp");
  }
  &.bg-image2 {
    background-image: url("../assets/images/renderings/millbrae2.webp");
  }
  &.bg-image3 {
    background-image: url("../assets/images/renderings/millbrae3.webp");
  }
  &.bg-image4 {
    background-image: url("../assets/images/renderings/millbrae4.webp");
  }
  &.bg-image5 {
    background-image: url("../assets/images/renderings/millbrae5.webp");
  }
}

.bg-mask {
  height: inherit;
  width: inherit;
  // background-color: $mask;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1, h2 {
    color: white;
  }
  h1 {
    border: none;
    font-size: 80px;
  }
  img {
    // if we can't use Gateway image
    // width: 210px;
    width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .bg-section {
    height: 300px;
  }
}
