footer {
  background-color: $charcoal;
  padding: 15px 50px;
  display: flex !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  span, a {
    color: white;
  }
  a:hover {
    color: $red;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 10px 25px;
    flex-direction: column;
  }
}
