footer {
  background-color: $gray;
  padding: 15px 50px;
  display: flex !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  &.not-home-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  span, a {
    color: white;
    font-size: 14px;
  }
  span {
    display: block;
  }
  a {
    &:hover {
      color: $red;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .footer-right-col {
    float: right;
    text-align: center;
  }
  .contact-info {
    display: inline-block;
    flex: auto;
  }
  .home-icon {
    width: 20px;
  }
  .lock-icon {
    width: 14px;
    display: inline-block;
    margin-left: 5px
  }
}

@media screen and (max-width: 991px) {
  footer {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }
}
