.hero {
  // background-image: url("../assets/images/renderings/millbrae5.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  width: 100%;
  height: 650px;
  &.not-home-hero {
    height: 300px;
  }
  &::before,
  &::after {
    background-position: 50% 80%;
  }
}

.content {
  height: 170px;
  width: inherit;
  background-color: $mask;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 350px;
  }
  span {
    font-size: 30px;
    letter-spacing: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: $dark-gray;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    height: 270px;
    &.thanks-hero {
      height: 170px;
    }
  }

  .content {
    height: 120px;
    width: inherit;
    background-color: $mask;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 250px;
    }
    span {
      font-size: 25px;
      letter-spacing: 5px;
    }
  }
}