.hero {
  background-image: url("../assets/images/millbrae5.png");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 0 -100px;
  width: 100%;
  height: 650px;
}

.content {
  height: 200px;
  width: inherit;
  background-color: $mask;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 350px;
  }
  span {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 10px;
    color: $dark-gray;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    height: 300px;
  }

  .content {
    height: 150px;
    width: inherit;
    background-color: $mask;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 250px;
    }
    span {
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 500;
      margin-top: 10px;
    }
  }
}
